# Ignore node_modules directory
node_modules/
storage/imgs/

# Ignore LoopBack's built-in files
# /server/boot/*.js
#/server/datasources.json
#/server/model-config.json


/storage/files

# Ignore logs
/server/logs

# Ignore configuration files that may contain sensitive information
/server/datasources.local.js
/server/datasources.production.js
/server/config.local.js

# Ignore environment-specific configuration files
/server/config.development.js
/server/config.production.js
/server/config.test.js

# Ignore generated documentation (if any)
/docs/

# Ignore user-specific files
*.log
*.log.*
*.sqlite

# Ignore npm debugging logs
npm-debug.log

# Ignore coverage reports (if you're not interested in code coverage)
coverage/

# Ignore .env files (should not be committed to version control)
.env

# Ignore any other build or cache directories
dist/
.tmp/
.cache/

# Ignore any editor-specific files and directories
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Ignore package-lock.json for npm
package-lock.json

# Ignore yarn.lock for Yarn
yarn.lock

# Ignore macOS system files
.DS_Store

# Ignore temporary files and directories
*.swp
Thumbs.db

/push/logs
*.DS_Store
